<div id="gotoTop" class="icon-angle-up"></div>

<!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
<script src="frontend_js/jquery.js"></script>
<script src="frontend_js/plugins.js"></script>

<script src="frontend_js/functions.js"></script>