<div id="top-bar">
    <div class="container clearfix">
    <div class="col_half nobottommargin">
    
    <div class="top-links">
    <ul>
    <li><a><i class="icon-location"  style="color: #145ba2"></i>&nbsp;Lagankhel,Lalitpur</a></li>
    <li><a><i class="icon-email3"  style="color: #145ba2"></i>&nbsp;info@kitabharu.com</a></li>
    <li><a><i class="icon-call"  style="color: #145ba2"></i>&nbsp;+977981239898</a></li>
    
    </ul>
    </div>
    </div>
    <div class="col_half fright col_last nobottommargin">
    
    <div id="top-social">
    <ul>
    <li><a href="#" class="si" ><i class="icon-line-heart" style="color: #145ba2"></i>&nbsp;&nbsp;My Wishlist</a></li>
    <li><a href="login.html" class="si"><i class="icon-user-alt" style="color: #145ba2"></i>&nbsp;&nbsp;Login</a></li>
    <li><a href="resiter.html" class="si"><i class="icon-key1" style="color: #145ba2"></i>&nbsp;&nbsp;Register</a></li>
    <!-- <li><a href="#" class="si-github"><i class="icon-github-circled"></i></a></li>
    <li><a href="#" class="si-pinterest"><i class="icon-pinterest"></i></a></li>
    <li><a href="#" class="si-instagram"><i class="icon-instagram2"></i></a></li>
    <li><a href="tel:+91.11.85412542" class="si-call"><i class="icon-call"></i></a></li> -->
    
    </ul>
    </div>
    </div>
    </div>
    </div>